@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   616 N Walnut Streety<br />
    Maryville, MO, USA<br />
    <abbr title="Phone">P:</abbr>
   660 528 0828
</address>

<address>
    <strong>My Email</strong>   <a href="gsr.teja@gmail.com">gsr.teja@gmail.com</a><br />
   
</address>